@import url("https://fonts.googleapis.com/css?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-body: "PT Serif", "sans-serif";
  --breakpoint-xs: 321px;
}

article * {
  word-wrap: break-word;
}

button {
  @apply cursor-pointer;
}

h1 {
  @apply text-xl xs:text-4xl font-bold;
}

h2 {
  @apply text-lg xs:text-3xl font-bold;
}

section h2 {
  @apply mb-4;
}

section {
  @apply mt-8 mb-8;
}
